* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

body {
  margin: 5% 20%;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem;
  text-shadow: aqua 1px 0 10px;
}
